@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

$headings: "Abril Fatface", cursive;
$regular-text: "Montserrat", sans-serif;
$buttons: "Roboto Mono", mono;
