* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-family: $headings;
}

h2 {
  font-family: $headings;
}

h3 {
  font-family: $headings;
}

p {
  font-family: $regular-text;
}

li {
  font-family: $regular-text;
}

.hidden {
  display: none;
}

.background-frame {
  height: 800px;
  background-color: $white;
}
