button {
  font-family: $buttons;
}

.btn {
  outline: none;
  text-decoration: none;
  border: transparent;
  background-color: $green;
  padding: 10px;
  border-radius: 30px;
}

@media only screen and (min-width: 680px) {
  .header-btn {
    outline: none;
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    width: 120px;
    padding: 10px;
    margin: 30px 30px;
    border-radius: 30px;

    &:hover {
      transition-duration: 0.6s;
      background-color: $green;
    }
  }
}
