.background-header {
  background-color: $bright-yellow;
  height: 175px;
  position: relative;
}

.navbar-content-container {
  width: 100%;
  padding-top: 10px;
}

.logo {
  margin: 10px 30px;
  float: left;
}

.navbar {
  display: none;
  float: right;
}

.hamburger-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 200px;
}

#hamburger-btn {
  position: absolute;
  right: 20px;
  top: 40px;
  border-radius: 30px;
  background-color: $green;
  width: 80px;
  height: 45px;
  outline: none;
  border: none;
  i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 1.5rem;
  }
}

.hamburger-btn-bg {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: $green;
  width: 100%;
  height: 100%;
  -webkit-animation: showNavbar 1s 1; /* Safari 4+ */
  -moz-animation: showNavbar 1s 1; /* Fx 5+ */
  -o-animation: showNavbar 1s 1; /* Opera 12+ */
  animation: showNavbar 1s 1;
}

.hamburger-btn-bg-close {
  position: absolute;
  background-color: $green;
  right: 20px;
  top: 40px;
  border-radius: 30px;
  width: 80px;
  height: 45px;
  -webkit-animation: hideNavbar 1s 1; /* Safari 4+ */
  -moz-animation: hideNavbar 1s 1; /* Fx 5+ */
  -o-animation: hideNavbar 1s 1; /* Opera 12+ */
  animation: hideNavbar 1s 1;
}

#hamburger-nav {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: fadeIn 1s linear 1s 1; /* Safari 4+ */
  -moz-animation: fadeIn 1s linear 1s 1; /* Fx 5+ */
  -o-animation: fadeIn 1s linear 1s 1; /* Opera 12+ */
  animation: fadeIn 1s linear 1s 1;
  animation-fill-mode: forwards;
  height: 200px;
  padding: 20px;
  opacity: 0;
  z-index: 1;
  ul {
    list-style-type: none;
    text-align: center;
    li {
      margin: 10px;
      button {
        width: 100px;
        padding: 10px;
        border-radius: 30px;
        background-color: $white;
        border: none;
      }
    }
  }
}

.wavy-line-header {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 100px;
  left: 0;
}

@media only screen and (min-width: 680px) {
  .navbar {
    display: block;
  }

  .hamburger-nav-container {
    display: none;
  }

  #hamburger-btn-bg {
    display: none;
  }

  #hamburger-btn {
    display: none;
  }

  #hamburger-nav {
    display: none;
  }

  .background-header {
    background-color: $bright-yellow;
    height: 215px;
    position: relative;
  }

  .wavy-line-header {
    height: 120px;
    width: 100%;
  }
}
