.background-frame-all-recipes {
  height: auto;
  background-color: $white;
  margin-bottom: 100px;
}

.filters-container {
  max-width: 300px;
  margin: 10px;
}

.box-of-filters {
  background-color: $bright-yellow;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  h4 {
    padding-bottom: 5px;
  }
  ul {
    li {
      list-style-type: none;
    }
  }
}
