.landing-hero-container {
  position: relative;
  height: 100%;
  background-color: $bright-yellow;
}

.hide-the-wave {
  position: absolute;
  top: -75px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: $bright-yellow;
}

.big-picture {
  width: 270px;
  height: auto;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
}

.hero-images-container {
  position: relative;
}

.hero-images {
  display: flex;
  justify-content: center;
}

.big-picture {
  position: relative;
}

.hero-like {
  position: absolute;
  top: 100px;
  left: 40px;
}

.super-title {
  padding-top: 20px;
  font-size: 4rem;
  text-align: right;
}

.btn-hero {
  float: right;
  width: 100px;
  margin: 20px;
}
