@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");
@-webkit-keyframes showNavbar {
  0% {
    right: 20px;
    top: 40px;
    border-radius: 30px;
    width: 80px;
    height: 45px;
  }
  100% {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@keyframes showNavbar {
  0% {
    right: 20px;
    top: 40px;
    border-radius: 30px;
    width: 80px;
    height: 45px;
  }
  100% {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes hideNavbar {
  0% {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  100% {
    right: 20px;
    top: 40px;
    border-radius: 30px;
    width: 80px;
    height: 45px;
  }
}

@keyframes hideNavbar {
  0% {
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
  100% {
    right: 20px;
    top: 40px;
    border-radius: 30px;
    width: 80px;
    height: 45px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FCFCFC;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-family: "Montserrat", sans-serif;
}

li {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none;
}

.background-frame {
  height: 1050px;
  background-color: #FCFCFC;
}

button {
  font-family: "Roboto Mono", mono;
}

.btn {
  outline: none;
  text-decoration: none;
  border: transparent;
  background-color: #45B864;
  padding: 10px;
  border-radius: 30px;
}

.clicked-filter-btn {
  outline: none;
  text-decoration: none;
  border: transparent;
  background-color: #45B864;
  width: 150px;
  border-radius: 30px;
  text-align: left;
  padding-left: 25px;
}

.filter-btn {
  background: none;
  border: none;
  padding-left: 25px;
}

.recipe-btn {
  float: right;
  width: 150px;
  margin: 10px 20px;
}

.show-filters-btn {
  width: 100%;
  padding: 2px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 680px) {
  .header-btn {
    outline: none;
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    width: 120px;
    padding: 10px;
    margin: 30px 30px;
    border-radius: 30px;
  }
  .header-btn:hover {
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
    background-color: #45B864;
  }
}

.background-header {
  background-color: #FFFAE3;
  height: 175px;
  position: relative;
}

.background-header-homepage {
  background-color: #FFFAE3;
  height: 120px;
  position: relative;
}

.navbar-content-container {
  width: 100%;
  padding-top: 10px;
}

.logo {
  margin: 10px 30px;
  float: left;
}

.navbar {
  display: none;
  float: right;
}

.hamburger-nav-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 200px;
}

#hamburger-btn {
  position: absolute;
  right: 20px;
  top: 40px;
  border-radius: 30px;
  background-color: #45B864;
  width: 80px;
  height: 45px;
  outline: none;
  border: none;
}

#hamburger-btn i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 1.5rem;
}

.hamburger-btn-bg {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #45B864;
  width: 100%;
  height: 100%;
  -webkit-animation: showNavbar 0.5s 1;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: showNavbar 0.5s 1;
}

.hamburger-btn-bg-close {
  position: absolute;
  background-color: #45B864;
  right: 20px;
  top: 40px;
  border-radius: 30px;
  width: 80px;
  height: 45px;
  -webkit-animation: hideNavbar 0.5s 1;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: hideNavbar 0.5s 1;
}

#hamburger-nav {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation: fadeIn 0.2s linear 0.5s 1;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: fadeIn 0.2s linear 0.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 200px;
  padding: 20px;
  opacity: 0;
  z-index: 1;
}

#hamburger-nav ul {
  list-style-type: none;
  text-align: center;
}

#hamburger-nav ul li {
  margin: 10px;
}

#hamburger-nav ul li button {
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: #FCFCFC;
  border: none;
}

.wavy-line-header {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 100px;
  left: 0;
}

@media only screen and (min-width: 680px) {
  .navbar {
    display: block;
  }
  .hamburger-nav-container {
    display: none;
  }
  #hamburger-btn-bg {
    display: none;
  }
  #hamburger-btn {
    display: none;
  }
  #hamburger-nav {
    display: none;
  }
  .background-header {
    background-color: #FFFAE3;
    height: 215px;
    position: relative;
  }
  .background-header-homepage {
    background-color: #FFFAE3;
    height: 120px;
    position: relative;
  }
  .wavy-line-header {
    height: 120px;
    width: 100%;
  }
}

.wavy-line-footer {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -50px;
}

.footer-bg {
  position: relative;
  background-color: #45B864;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  -ms-grid-rows: auto 60px;
      grid-template-rows: auto 60px;
}

.footer-bg h3 {
  padding-bottom: 10px;
  font-weight: normal;
}

.footer-logo {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.footer-links ul li {
  list-style-type: none;
  padding-bottom: 2px;
  font-size: 0.8rem;
}

.footer-contact-me p {
  font-size: 0.8rem;
  line-height: 1.2;
}

.footer-contact-me a {
  text-decoration: none;
}

.footer-contact-me a:link {
  color: #FFFAE3;
}

.footer-contact-me a:visited {
  color: #FFFAE3;
}

.footer-contact-me a:hover {
  font-weight: 800;
}

.footer-created-with {
  font-size: 0.8rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 15px 20px 20px 20px;
}

@media only screen and (min-width: 680px) {
  .footer-bg {
    position: relative;
    background-color: #45B864;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 2fr 3fr;
        grid-template-columns: 1fr 1fr 2fr 3fr;
    -ms-grid-rows: auto 40px;
        grid-template-rows: auto 40px;
  }
  .footer-created-with {
    font-size: 0.8rem;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    margin-top: 35px;
  }
  .footer-logo {
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border: 20px solid #f3f3f3;
  /* Light grey */
  border-top: 20px solid #99E1D9;
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
          animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.landing-hero-container {
  position: relative;
  height: 670px;
  background-color: #FFFAE3;
}

.hero-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-picture {
  position: relative;
  height: 200px;
  width: 300px;
  background-image: url("/src/assets/images/hero-image-breakfast.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-like {
  position: absolute;
  bottom: 0;
  left: 30px;
}

.super-title {
  font-size: 5rem;
  text-align: right;
  padding-right: 20px;
}

.btn-hero {
  float: right;
  width: 100px;
  margin: 20px;
}

.wavy-line-hero {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .landing-hero-container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10px 2fr 2fr 10px;
        grid-template-columns: 10px 2fr 2fr 10px;
    -ms-grid-rows: 300px 70px 100px;
        grid-template-rows: 300px 70px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #FFFAE3;
    width: 100%;
    height: 460px;
    padding-top: 20px;
  }
  .hero-images {
    display: block;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / span 1;
  }
  .big-picture {
    height: 300px;
    width: 360px;
    background-image: url("/src/assets/images/hero-image-breakfast-computer1.png");
  }
  .super-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    grid-row: 1;
    font-size: 4rem;
    font-weight: 400;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-bottom: 20px;
  }
  .btn-hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    margin: 0;
  }
  .wavy-line-hero {
    display: block;
    width: 100%;
    height: 80px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media only screen and (min-width: 1100px) {
  .landing-hero-container {
    -ms-grid-columns: 10px 1fr 1fr 10px;
        grid-template-columns: 10px 1fr 1fr 10px;
    -ms-grid-rows: 500px 100px 100px;
        grid-template-rows: 500px 100px 100px;
    height: 690px;
  }
  .big-picture {
    height: 540px;
    width: 670px;
    background-image: url("/src/assets/images/hero-image-breakfast-computer5.png");
  }
  .super-title {
    font-size: 6rem;
    font-weight: 400;
  }
  .hero-like {
    height: 100px;
    bottom: 50px;
    left: 50px;
  }
}

.background-frame-all-recipes {
  background-color: #FCFCFC;
  min-height: 80vh;
}

.filters-container {
  max-width: 300px;
  min-width: 250px;
  margin: 0 auto;
}

.box-of-filters {
  background-color: #FFFAE3;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.box-of-filters h4 {
  padding-bottom: 5px;
}

.box-of-filters ul li {
  list-style-type: none;
}

.button-and-filters-div {
  margin: 0 auto;
  width: 300px;
}

.cards-container {
  margin: 30px 0px 100px 0px;
}

.small-card-container {
  margin: 10px 20px 60px 20px;
}

.title-card-style {
  margin-bottom: 10px;
}

@media only screen and (min-width: 700px) {
  .background-frame-all-recipes {
    margin: 0 auto;
    max-width: 1100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20px (1fr)[10] 20px;
        grid-template-columns: 20px repeat(10, 1fr) 20px;
    -ms-grid-rows: 100px auto;
        grid-template-rows: 100px auto;
    grid-auto-flow: column;
    margin-bottom: 100px;
  }
  .background-frame-all-recipes h2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .button-and-filters-div {
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2 / span 6;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .cards-container {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4 / span 9;
    margin: 0px;
  }
  .small-card-container {
    margin: 10px 0px 60px 0px;
  }
  .show-filters-btn {
    display: none;
  }
}

.background-frame-error {
  background-color: #FCFCFC;
  height: 80vh;
}

.error-message-container {
  margin: 20px;
}

.error-message-container button {
  margin-top: 20px;
}

.background-frame-single-recipe {
  min-height: 80vh;
}

.recipe-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.intro-to-recipe-container {
  margin: 15px 10px 10px;
}

.intro-to-recipe-container h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

.intro-text {
  margin-bottom: 15px;
}

.small-info-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}

.image-container {
  position: relative;
}

.recipe-image {
  max-width: 100%;
}

.recipe-like {
  position: absolute;
  bottom: -10px;
  left: -20px;
}

.link-to-url {
  font-size: 0.8rem;
  margin: 10px;
}

.button-back-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.ingredients-and-howto-box {
  position: relative;
  max-width: 100%;
  background-color: #FFFAE3;
  border-radius: 30px;
  margin-top: 40px;
  padding: 20px;
}

.ingredients-and-howto-box h3 {
  margin-bottom: 10px;
}

.ingredients-and-howto-box ul {
  margin-bottom: 20px;
}

.ingredients-and-howto-box ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.ingredients-and-howto-box p {
  line-height: 1.5;
}

.display-directions h3 {
  font-size: 1rem;
  margin-top: 10px;
}

.display-directions ol {
  padding-left: 40px;
}

.random-blobb-top {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -35px;
  left: -35px;
  z-index: -1;
}

.random-blobb-bottom {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -35px;
  right: -35px;
  z-index: -1;
}

@media only screen and (min-width: 700px) {
  .recipe-container {
    margin: 0 auto;
    max-width: 1100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20px (1fr)[10] 20px;
        grid-template-columns: 20px repeat(10, 1fr) 20px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .recipe-container h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .image-container {
    max-width: 450px;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8 / span 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
  .intro-to-recipe-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / span 5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    margin: 0px;
  }
  .ingredients-and-howto-box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / span 12;
    -ms-grid-row: 4;
    grid-row: 4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    margin-top: 50px;
  }
  .link-to-url {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .button-back-container {
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-column: 10 / span 2;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .random-blobb-top {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -50px;
    left: -50px;
    z-index: -1;
    fill: #99E1D9;
    color: #99E1D9;
  }
  .random-blobb-bottom {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: -50px;
    right: -50px;
    z-index: -1;
  }
}
/*# sourceMappingURL=styles.css.map */